<nav class="navbar bg-dark">
  <h2 [style.paddingTop.px]="12">Online Store</h2>
    <ul class="navbar__menu">
      <li routerLinkActive="active">
        <a (click)="setTypeProduct('phone')">Phone</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="setTypeProduct('tablet')">Tablet</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="setTypeProduct('laptop')">Laptop</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="setTypeProduct('shopping-cart')" [routerLink]="['./shopping-cart']">Cart</a>
      </li>
    </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

