<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login as administrator</h2>

  <mat-form-field class="form__control" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="form__control" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="**********">
    <mat-error *ngIf="form.controls['password'].hasError('password') && !form.controls['password'].hasError('required')">
      Please enter a valid password address
    </mat-error>
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.controls['password'].hasError('minlength')">
      The password must be at least {{ form.get('password')?.errors?.['minlength']?.requiredLength }} characters.
      Now password {{ form.get('password')?.errors?.['minlength']?.actualLength }} character
    </mat-error>
  </mat-form-field>
  
    <!-- <div class="form__control" [ngClass]="{ invalid: form.get('email')?.touched && form.get('email')?.invalid }">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small *ngIf="form.get('email')?.errors?.['required']">Please, enter e-mail...</small>
        <small *ngIf="form.get('email')?.errors?.['email']">Please, enter correctly e-mail...</small>
      </div>
    </div>

    <div class="form__control" [ngClass]="{ invalid: form.get('password')?.touched && form.get('password')?.invalid }">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small *ngIf="form.get('password')?.errors?.['required']">Please, enter password...</small>
        <small *ngIf="form.get('password')?.errors?.['minlength']">
          The password must be at least {{ form.get('password')?.errors?.['minlength']?.requiredLength }} characters.
          Now password {{ form.get('password')?.errors?.['minlength']?.actualLength }} characters.
        </small>
      </div>
    </div> -->

    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">Logon</button>

</form>
