<div class="dashboard">
  <div *ngIf="products.length;else loading">
    <h2 class="dashboard__title">Dashboard of product</h2>
    
    <mat-form-field class="dashboard__control" appearance="fill">
      <mat-label>Search products</mat-label>
        <input type="text" matInput placeholder="Find a product" [(ngModel)]="searchProductName">
        <button matSuffix mat-icon-button aria-label="search">
          <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Data of creation</th>
          <th>Open</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let prod of products | search : searchProductName; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td>{{ prod.title }}</td>
          <td>{{ prod.price }}</td>
          <td>{{ prod.date | date:"d.MM.y H:mm" }}</td>
          <td>
            <button 
              mat-raised-button 
              color="primary"
              [routerLink]="['/admin', 'product', prod.id, 'edit']"
            >
              Open
            </button>
          </td>
          <td>
            <button 
              mat-raised-button 
              color="warn"
              (click)="deleteProduct(prod.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #loading>
    <p class="text-centor">Loading...</p>
  </ng-template>
</div>