.dashboard {

  &__title {
    text-align: center;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--primary-color);
  color: white;
  height: 1rem;
  padding: 0.5rem;
}