<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  
  <h2 class="form__title">Add Product</h2>

  <mat-form-field class="form__control" appearance="fill">
    <mat-label>Product Type</mat-label>
    <!-- <input type="type" matInput formControlName="type" [errorStateMatcher]="matcher" placeholder="product"> -->
    <mat-select formControlName="type">
      <mat-option value="phone">Phone</mat-option>
      <mat-option value="tablet">Tablet</mat-option>
      <mat-option value="laptop">Laptop</mat-option>
    </mat-select>
    <mat-error *ngIf="!form.controls['type'].hasError('required')">
      Chose product type!
    </mat-error>
    <mat-error *ngIf="form.controls['type'].hasError('required')">
      Type product is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__control" appearance="fill">
    <mat-label>Product name</mat-label>
    <input type="title" matInput formControlName="title" [errorStateMatcher]="matcher" placeholder="title product">
    <mat-error *ngIf="!form.controls['title'].hasError('required')">
      Enter product title!
    </mat-error>
    <mat-error *ngIf="form.controls['title'].hasError('required')">
      Title product is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="form__control">
    <label for="photo">Photo :</label>
    <quill-editor formControlName="photo"></quill-editor>
  </div>

  <div class="form__control">
    <label for="photo">Informations :</label>
    <quill-editor formControlName="info"></quill-editor>
  </div>

  <!-- <mat-form-field class="form__control" appearance="fill">
    <mat-label>Photo</mat-label>
    <input type="photo" matInput formControlName="photo" [errorStateMatcher]="matcher" placeholder="photo product">
    <mat-error *ngIf="!form.controls['photo'].hasError('required')">
      Add product photo!
    </mat-error>
    <mat-error *ngIf="form.controls['photo'].hasError('required')">
      Photo product is <strong>required</strong>
    </mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field class="form__control" appearance="fill">
    <mat-label>Informations</mat-label>
    <input type="info" matInput formControlName="info" [errorStateMatcher]="matcher" placeholder="info product">
    <mat-error *ngIf="!form.controls['info'].hasError('required')">
      Enter product Informations!
    </mat-error>
    <mat-error *ngIf="form.controls['info'].hasError('required')">
      Informations product is <strong>required</strong>
    </mat-error>
  </mat-form-field> -->

  <mat-form-field class="form__control" appearance="fill">
    <mat-label>Price</mat-label>
    <input type="price" matInput formControlName="price" [errorStateMatcher]="matcher" placeholder="price product">
    <mat-error *ngIf="!form.controls['price'].hasError('required')">
      Enter product price!
    </mat-error>
    <mat-error *ngIf="form.controls['price'].hasError('required')">
      Price product is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">Created producte</button>

</form>
