.text-center {
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--primary-color);
  color: white;
  height: 1rem;
  padding: 0.5rem;
}

.form {
  max-width: 700px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }
  
  &__control {
  display: block;
  color: #888;
  margin-bottom: .8rem;

    &.invalid {
      color: var(--danger-color);
      input {
        border-color: var(--danger-color);
      }
    }
  }
}